<div style='float: left'>
<h2>Create a Holiday</h2>

<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select(:start_date, order: [:day, :month, :year]) %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select(:end_date, order: [:day, :month, :year])%>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn_submit' %>
  </div>
<% end %>

  <%= link_to 'Back', holidays_path, class: 'btn_link' %>

</div>

<div style='float: right'><h2><%= current_user.name %> Holidays</h2>
  <div  id="calendar" class="small-calendar" holidays="<%= @my_holidays.to_json %>"></div>
</div>

