<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @holiday.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @holiday.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @holiday.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @holiday.user.name%>
</p>

<p>
  <strong>Status:</strong>
  <%= @holiday.status %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) if current_user == @holiday.user %> |
<%= link_to 'My Holidays', holidays_path %> |
<%= link_to 'Home', @holiday.user %>

