<p>
  <strong>Start date:</strong>
  <%= @holiday.start_date.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @holiday.end_date.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>Content:</strong>
  <%= @holiday.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @holiday.user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @holiday.status %>
</p>

<p>
  <strong>Days to Start:</strong>
  <%= @holiday.get_days_to_start  %>
</p>

<p>
  <strong>Days to End:</strong>
  <%= @holiday.get_days_to_end  %>
</p>

<p>
  <strong>Total of Days:</strong>
  <%= @holiday.get_days_total  %>
</p>

<p>
  <strong>Total of Business Days:</strong>
  <%= @holiday.get_days_total_business %>
</p>

<p>
  <strong>Current?</strong>
  <%= @holiday.current? %>
</p>

<% if current_user == @holiday.user%>
    <%= link_to 'Edit', edit_holiday_path(@holiday), class: 'btn_link'%>
<%elsif current_user.manager? %>
    <%= link_to 'Change Status', edit_admin_holiday_path(@holiday), class: 'btn_link'%>
<% end %>
<%= link_to 'My Holidays', holidays_path, class: 'btn_link' %>
<%= link_to 'Callendar', root_url , class: 'btn_link'%>

