<h1>Holidays Manager</h1>

<p>Hi <%= @admin.name %>,</p>

<p>A new Holiday of <%= @holiday.user.name %> was created!</p>

<%= render 'info_holidays' %>

<p>
  Please, <%= link_to "Click here", admin_holiday_path(@holiday) %> to see better and change the status of this holiday</br>
  obs: <%= @holiday.user.name %> may have edited this holiday.
</p>

<%= render 'notifications' %>

<p>
  Att,<br/>
  Holiday Manager
</p>