<h1>Holidays Manager</h1>

<p>Hi <%= @admin.name %>,</p>

<p>A new Holiday of <%= @holiday.user.name %> was created!</p>

<%= render 'info_holidays' %>

<p>
  Please, <%= link_to "Click here", edit_admin_holiday_path(@holiday) %> to change the status of this holiday!
</p>

<%= render 'notifications' %>

<p>
  Att,<br/>
  Holiday Manager
</p>