<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email/Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @user.manager %>
</p>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
