%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Studiare Holidays APP", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          = link_to gravatar_for(current_user, size: 50), current_user
          %li= link_to "Notice Board", microposts_path
          %li= link_to "Users", users_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Holidays
              %b.caret
              %ul.dropdown-menu
                %li= link_to "General Holidays", general_holidays_path
                %li= link_to "My Holidays", holidays_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Settings
              %b.caret
              %ul.dropdown-menu
                %li= link_to "Email Configuration", edit_emails_configuration_path
                %li= link_to "Change my Password", edit_user_path(current_user)
                %li= link_to "Change my Avatar", "https://en.gravatar.com/emails/"
          - if current_user.manager?
            - num_pending_holiday = count_holidays_pending
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Admin Acess (#{num_pending_holiday})
                %b.caret
                %ul.dropdown-menu
                  %li= link_to "Users Settings", admin_users_path
                  %li= link_to "Holiday Settings (#{num_pending_holiday})", admin_holidays_path
          %li= link_to "Log out", logout_path