!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    /[if lt IE 9]
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"}

  %body
    = render 'layouts/header'
    - flash.each do |message_type, message|
      %div{:class => message_type}= message.html_safe
    .container
      = yield